[Paths]
PathFastaFiles: FastaFiles
PathFastqFiles: FastqFiles
PathSamFiles: SamFiles
PathBamFiles: BamFile
Alignedreads: Aligned_reads

[Parameters]
sudo_password: ###Sudo password to be added here ###
FastaFileExtension: fa
GlobalFastaFile: Fastaglobal.fa
QualityalignThresh: 30
Generates_reads_analysis: falSE
